<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Vincula el archivo CSS -->
</head>
<body>

<h1>Menú Principal</h1>

<form method="get">
    <button type="submit" formaction="{{ url_for('carga_datos') }}">Carga de Datos</button>
    <button type="submit" formaction="{{ url_for('crud_menu') }}">CRUD</button>
</form>

<!-- Aquí puedes agregar otros formularios o contenido si es necesario -->

</body>
</html>
